.downloadButton {
    position: absolute;
    top: 100px; /* Adjust the top position */
    left: 385px; /* Adjust the left position */
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 260px;
  }