.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(13, 45, 37, 0.42);
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

.footer-text {
  font-size: 1rem !important;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.footer-text > * {
  padding-left: 1rem;
}

@media only screen and (max-width: 600px) {
  .footer-text {
    font-size: 0.825rem !important;
    flex-basis: 80%;
  }
}

.footer-section a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #ece91a;
  margin: 30px;
}

.footer-section a:hover {
  color: #f253d0;
}
