.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #fffffffc;
    margin-top: 250px;
  }
  
  .footer-section {
    margin: 0 10px;
  }
  
  .footer-section a {
    color: #ef7810f8;
    text-decoration: none;
    font-size: 20px;
  }
  
  .footer-section a:hover {
    color: #003cff;
  }