header{
    width: 100%;
    padding: 0rem;
    font-size: 4.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #2d72e0;
    background-color: #f3f5f78e;
    text-align: center;
}

.navBar {
    display: flex;
    gap: 2rem;
    width: 100%;
    padding: 5.5rem;
    margin-top: 0;
    margin-bottom: 10;
    background-color: rgba(80, 152, 101, 0.71);
}

.navItem {
    list-style: none;

}

.highlight {
    /* color: rgb(234, 245, 79) */
    color: #a00f0d; !important;
}

.navLink {
    color: #a00f0d;
    font-size: xx-large;
}

