header{
    width: 100%;
    padding: 0rem;
    font-size: 4.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #111503;
    background-color: #f3f5f78e;
    text-align: center;
    color: rgba(13, 45, 37, 0.42);
}

.navBar {
    display: flex;
    gap: 10rem;
    width: 100%;
    padding: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(13, 45, 37, 0.42);
    padding: 30px;
}

.navItem {
    list-style: none;
    

}

.highlight {
    /* color: rgb(234, 245, 79) */
    color: #a00f0d; !important;
}

.navLink {
    color: whitesmoke;
    font-size: 23px;
}

